
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 15%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=Ajouter] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
  }
  
  input[type=Ajouter]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
    .col-25, .col-75, input[type=Ajouter] {
      width: 100%;
      margin-top: 0;
    }

    
  .button1 {width: 100px;}
  .button1 {width: 100px;}



