
.label-1{
    font-weight: bold;
    opacity: 1;
    color: black;
    font-size: 30x;
}
.sinscrire{
    background-color: rgb(168, 119, 168);
    opacity: 0.8;
    width: 40%;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    color: rgb(11, 11, 11);
    
}
.titre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
